/* =================
    Table
   ================= */
table {
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1rem;
    line-height: 1.4em;
    font-family: Verdana, sans-serif;
}

th {
    background-color: #111; /* Green background for headers */
    color: white; /* White text for headers */
    padding: 12px;
    text-align: left;
    border-bottom: 3px solid #ddd;
}

.subtable-header {
    font-weight: bolder;
    font-size: larger;
}

td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.versions {
    min-width: 100px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.version-description {
    margin-top: 0.3em;
    font-style: italic;
    font-size: 0.9em;
}

/* =================
    Links
   ================= */

a,
a:visited,
a:link {
    text-decoration: none;
    color: #2f8af2;
}