<html>
    <head>
        <link rel="stylesheet" href="flexbox.css">
    </head>
    <body>
        <div class="example">
            <h3>Bottom left</h3>
            <h4>
                flex-direction: default<br/>
                align-items: end<br/>
                justify-content: start
            </h4>
            <div class="container bottom-left">
                <div class="item">🥽</div>
                <div class="item">🧪</div>
                <div class="item">🧫</div>
            </div>
        </div>
        <div class="example">
            <h3>Centered on both axes</h3>
            <h4>
                flex-direction: default<br/>
                align-items: center<br/>
                justify-content: center<br/>
                order: .tube (0) .dish (1) .goggles (2)
            </h4>
            <div class="container center-center">
                <div class="item goggles">🥽</div>
                <div class="item tube">🧪</div>
                <div class="item dish">🧫</div>
            </div>
        </div>
        <div class="example">
            <h3>Center right</h3>
            <h4>
                flex-direction: default<br/>
                align-items: center<br/>
                justify-content: end
            </h4>
            <div class="container center-right">
                <div class="item">🥽</div>
                <div class="item">🧪</div>
                <div class="item">🧫</div>
            </div>
        </div>
        <div class="example">
            <h3>Column, center left</h3>
            <h4>
                flex-direction: column<br/>
                align-items: start<br/>
                justify-content: center
            </h4>
            <div class="container column-center-left">
                <div class="item">🥽</div>
                <div class="item">🧪</div>
                <div class="item">🧫</div>
            </div>
        </div>
        <div class="example">
            <h3>Column, space between right</h3>
            <h4>
                flex-direction: column<br/>
                align-items: end<br/>
                justify-content: space-between
            </h4>
            <div class="container column-right-space-between">
                <div class="item">🥽</div>
                <div class="item">🧪</div>
                <div class="item">🧫</div>
            </div>
        </div>
        <div class="example">
            <h3>Column, top center</h3>
            <h4>
                flex-direction: column<br/>
                align-items: center<br/>
                justify-content: start
            </h4>
            <div class="container column-top-center">
                <div class="item">🥽</div>
                <div class="item">🧪</div>
                <div class="item">🧫</div>
            </div>
        </div>
        <div class="example">
            <h3>Top center, put elements at edges then evenly distributes between the center</h3>
            <h4>
                flex-direction: default<br/>
                align-items: start<br/>
                justify-content: space-between
            </h4>
            <div class="container top-center-space-between ">
                <div class="item">🥽</div>
                <div class="item">🧪</div>
                <div class="item">🧫</div>
            </div>
        </div>
        <div class="example">
            <h3>Top center, consistent spacing around element</h3>
            <h4>
                flex-direction: default<br/>
                align-items: start<br/>
                justify-content: space-around
            </h4>
            <div class="container top-center-space-around ">
                <div class="item">🥽</div>
                <div class="item">🧪</div>
                <div class="item">🧫</div>
            </div>
        </div>
        <div class="example">
            <h3>Top center, even spacing between elements and edges</h3>
            <h4>
                flex-direction: default<br/>
                align-items: start<br/>
                justify-content: space-evenly
            </h4>
            <div class="container top-center-space-evenly ">
                <div class="item">🥽</div>
                <div class="item">🧪</div>
                <div class="item">🧫</div>
            </div>
        </div>
    </body>
</html>