/* Styles for flexbox layout */

.container {
    display: flex;
    border: 8px solid #016a26;
    height: 320px;
}

.bottom-left {
    justify-content: start;
    align-items: end;
} 

.center-center {
    justify-content: center;
    align-items: center;
}

.center-right {
    justify-content: end;
    align-items: center;
}

.column-center-left {
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.column-right-space-between {
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.column-top-center {
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.top-center-space-between {
    justify-content: space-between;
    align-items: start;
} 

.top-center-space-around {
    justify-content: space-around;
    align-items: start;
} 

.top-center-space-evenly {
    justify-content: space-evenly;
    align-items: start;
} 




/* Styles that are not the focus */
.item {
    width: 50px;
    height: 50px;
    margin: 2px;
    padding: 10px;
    font-size: 50px;
    border: 2px solid black;
    background: linear-gradient(#14463d, #016a26);
}

.example {
    margin: 50px 0;
}