<html>
    <head>
        <link rel="stylesheet" href="index.css">
    </head>
    <body>
        <span data-tooltip="Custom tooltip on the left." data-tooltip-position="left">Custom left tooltip.</span>
        <span data-tooltip="Custom tooltip on the bottom." data-tooltip-position="bottom">Custom bottom tooltip.</span>
        <span data-tooltip="Custom tooltip on the top." data-tooltip-position="top" style="margin-top: 60px;">Custom top tooltip.</span>
        <span data-tooltip="Custom tooltip on the right." data-tooltip-position="right">Custom right tooltip.</span>
    </body>
</html>
