/* Layout */

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #2b283a;
    margin: unset;
}

header, footer, section {
    padding: 45px 0;
}

header, .section-two {
    background-color: #5f29a3;
}

footer {
    font-size: 16px;
    color: #5f29a3;
    text-align: center;
}

.container {
    width: 620px;
    margin: 0 auto;
}

.section-two {
    color: whitesmoke;
}

.section-two-image {
    width: 300px;
    border-radius: 6px;
}

.image-container {
    display: flex;
    justify-content: space-around;
}

.main-image {
    width: 100%;
}


/* Typography */

h1 {
    color: whitesmoke;
    font-size: 36px;
    margin: unset;
}

h2 {
    font-size: 24px;
    margin-top: 0;
}

h3 {
    color: #d0aaff;
    font-size: 20px;
    margin: unset;
}

/* Links */

a, a:visited, a:link {
    color: #ef5839;
    text-decoration: underline dotted;
}

a:hover, a:active {
    color: #d4b44c;
}

