<!--<!DOCTYPE html>-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Testimonial blurbs</title>
    <link href="flexbox-grid.css" rel="stylesheet" />
</head>
<body>
    <main class="page-vans">
        <h2>Explore our van options</h2>
        <div class="van-grid">
            <div class="van-grid-item">
                <img class="van-grid-item-image" src="https://assets.scrimba.com/advanced-react/react-router/modest-explorer.png" alt="Modest Explorer">
                <div class="van-grid-item-data">
                    <div class="van-grid-item-left">
                        <div class="van-grid-item-title">Modest Explorer</div>
                        <div class="van-grid-item-type type-simple">simple</div>
                    </div><div class="van-grid-item-price">
                        <div class="van-grid-item-price-main">$60</div>
                        <div class="van-grid-item-price-time">/day</div>
                    </div>
                </div>
            </div>
            <div class="van-grid-item">
                <img class="van-grid-item-image" src="https://assets.scrimba.com/advanced-react/react-router/beach-bum.png" alt="Beach Bum">
                <div class="van-grid-item-data">
                    <div class="van-grid-item-left">
                        <div class="van-grid-item-title">Beach Bum</div>
                        <div class="van-grid-item-type type-rugged">rugged</div>
                    </div>
                    <div class="van-grid-item-price">
                        <div class="van-grid-item-price-main">$80</div>
                        <div class="van-grid-item-price-time">/day</div>
                    </div>
                </div>
            </div>
            <div class="van-grid-item">
                <img class="van-grid-item-image" src="https://assets.scrimba.com/advanced-react/react-router/reliable-red.png" alt="Reliable Red">
                <div class="van-grid-item-data">
                    <div class="van-grid-item-left">
                        <div class="van-grid-item-title">Reliable Red</div>
                        <div class="van-grid-item-type type-luxury">luxury</div>
                    </div>
                    <div class="van-grid-item-price">
                        <div class="van-grid-item-price-main">$100</div>
                        <div class="van-grid-item-price-time">/day</div>
                    </div>
                </div>
            </div>
            <div class="van-grid-item">
                <img class="van-grid-item-image" src="https://assets.scrimba.com/advanced-react/react-router/dreamfinder.png" alt="Dreamfinder">
                <div class="van-grid-item-data">
                    <div class="van-grid-item-left">
                        <div class="van-grid-item-title">Dreamfinder</div>
                        <div class="van-grid-item-type type-simple">simple</div>
                    </div>
                    <div class="van-grid-item-price">
                        <div class="van-grid-item-price-main">$65</div>
                        <div class="van-grid-item-price-time">/day</div>
                    </div>
                </div>
            </div>
            <div class="van-grid-item">
                <img class="van-grid-item-image" src="https://assets.scrimba.com/advanced-react/react-router/the-cruiser.png" alt="The Cruiser"><div class="van-grid-item-data">
                    <div class="van-grid-item-left">
                        <div class="van-grid-item-title">The Cruiser</div>
                        <div class="van-grid-item-type type-luxury">luxury</div>
                    </div>
                    <div class="van-grid-item-price">
                        <div class="van-grid-item-price-main">$120</div>
                        <div class="van-grid-item-price-time">/day</div>
                    </div>
                </div>
            </div>
            <div class="van-grid-item">
                <img class="van-grid-item-image" src="https://assets.scrimba.com/advanced-react/react-router/green-wonder.png" alt="Green Wonder">
                <div class="van-grid-item-data">
                    <div class="van-grid-item-left">
                        <div class="van-grid-item-title">Green Wonder</div>
                        <div class="van-grid-item-type type-rugged">rugged</div>
                    </div>
                    <div class="van-grid-item-price">
                        <div class="van-grid-item-price-main">$70</div>
                        <div class="van-grid-item-price-time">/day</div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
